.choose {
  width: 1596px;
  height: 1190px;
  opacity: 1;
  margin: 0 auto;
  &__about {
    color: rgba(255, 255, 255, 1);
    font-family: Sora;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 38px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }
  .container {
    margin: 0 auto;
    max-width: 100%;
  }
  &__text {
    color: $primary-color;
    text-align: center;
  }
  &__bases {
    width: 100%;
    display: grid;
    margin-top: 80px;
    grid-template-columns: repeat(3, 1fr);
    // margin-left: 162px;
  }
  &__card {
    width: 465px;
    height: 386px;
    gap: 50px;
    opacity: 1;

    opacity: 1;
  }
  &__icon {
    margin-left: 154px;
    width: 66px;
    height: 66px;
    opacity: 1;
    border-radius: 75px;
    border-width: 6px;
    padding-top: 15px;
    text-align: center;
    border: 6px solid rgba(77, 77, 77, 1);
    box-shadow: 16px 12px 9px 2px rgba(255, 255, 255, 0.1) inset;
    margin-left: 188px;
    transition: all ease-in 0.6s;
  }
  &__icon:hover {
    transform: scale(2s);
    background-color: rgb(132, 80, 12);
  }
  &__icon img:hover {
    transform: rotate(180deg);
    color: rgb(203, 239, 239);
  }
  &__drive {
    color: rgba(255, 255, 255, 1);
    text-align: center;
    font-family: Sora;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
    margin-top: 40px;
  }
  &__team {
    color: $primary-color;
    font-family: Sora;
    font-weight: 400;
    font-style: SemiBold;
    font-size: 16px;
    margin-top: 20px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }
  &__btn {
    margin-top: 40px;
    opacity: 1;
    border-radius: 100px;
    font-family: Sora;
    border: 2px solid rgba(31, 31, 31, 1);
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    padding: 18px 18px 18px 34px;
    line-height: 150%;
    gap: 30px;
    color: #ffffff;
    align-items: center;
    letter-spacing: 0%;
    display: flex;
    margin-left: 106px;
    align-items: center;
    background: none;
  }
  &__btn img {
    background-color: rgba(26, 26, 26, 1);
    gap: 10px;
    opacity: 1;
    padding: 6px 14px;
    border-radius: 135px;
  }
  &__btn img:active{
    background-color: goldenrod;
    color: #0f0f0f;
  }
  &__btn:hover {
    background-color: rgb(148, 95, 29);
    color: $primary-color;

  }
}
.services {
  width: 1598px;
  height: 1863px;
  opacity: 1;
  margin: 0 auto;
  // border: 1px solid blue;
  &__part {
    display: grid;
    // margin-top: 80px;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  &__title {
    text-align: center;
    h2 {
      color: rgba(255, 255, 255, 1);
      font-family: Sora;
      font-weight: 600;
      font-style: SemiBold;
      font-size: 48px;
      line-height: 150%;
      letter-spacing: 0%;
      text-align: center;
    }
    p {
      color: $primary-color;
      font-family: Sora;
      font-weight: 400;
      font-style: Regular;
      margin-top: 20px;
      font-size: 18px;
      line-height: 150%;
      letter-spacing: 0%;
      text-align: center;
    }
  }
  &__dev {
    width: 784;
    height: 817;
    opacity: 1;
    gap: 50px;
    border-radius: 20px;
    border-width: 1px;
    padding: 120px 80px 80px 80px;
    text-align: center;
    background-image: url("../assets/images/Abstract\ Design.png");
    h3 {
      color: rgba(255, 255, 255, 1);
      font-family: Sora;
      font-weight: 600;
      font-style: SemiBold;
      font-size: 30px;
      line-height: 150%;
      letter-spacing: 0%;
      text-align: center;
    }
    p {
      color: $primary-color;
      font-family: Sora;
      font-weight: 400;
      font-style: Regular;
      font-size: 18px;
      line-height: 150%;
      letter-spacing: 0%;
      text-align: center;
    }
  }
  &__btnss {
    width: 184px;
    height: 64px;
    opacity: 1;
    gap: 6px;
    border-radius: 74px;
    color: #ffffff;
    margin-left: 230px;
    padding: 18.5px 24px;
    padding-left: 24px;
    display: flex;
    font-size: 18px;
    font-weight: 400;
    align-items: center;
    background-color: rgba(26, 26, 26, 1);
    margin-top: 50px;
    border: none;
  }
  &__btnss img {
    opacity: 1;
    background-color: rgba(26, 26, 26, 1);
    border-radius: 135px;
  }
 }
 .work-page {
  &__name {
    h1 {
  font-family: Sora;
font-weight: 600;
font-style: SemiBold;
font-size: 48px;
line-height: 150%;
letter-spacing: 0%;
text-align: center;
color: rgba(255, 255, 255, 1);
    }
    p{
      color: $primary-color;
      font-family: Sora;
font-weight: 400;
font-style: Regular;
font-size: 18px;
line-height: 150%;
letter-spacing: 0%;
text-align: center;
// margin-top: 20px;
    }
  }
 &__main {
  margin: 80px;
  gap: 50px;
  column-gap: normal;
      display: grid;
  grid-template-columns:repeat( 2,1fr);
 }
.work-page__innovative {
  width: 773px;
height: 806px;
opacity: 1;
background: linear-gradient(180deg, #1A1A1A -26.18%, rgba(26, 26, 26, 0) 59.52%);
gap: 50px;
border-radius: 20px;
border-width: 1px;
padding: 50px;
  position: relative;
  .back {
    width: 100%;
  }
  .back img{
    width: 673px;
height: 437px;
opacity: 1;
z-index: 1000;
border: 1px solid rgba(31, 31, 31, 1);
border-radius: 20px;
  }
.logos {
  position: absolute;
  top: 160px;
  left: 300px;
  transition: all 0.5s ease;
}
.logos img:hover {
  transform: rotate(180deg) scale(2s);

}
  button {
width: auto;
height: 64px;
opacity: 1;
border-radius: 74px;
align-items: center;
display: flex;
backdrop-filter: blur(12px);
font-size: 24px;
line-height: 150%;
padding-left: 24px;
    color:$secondary-color;
    background: #0f0f0f;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 74px;
    cursor: pointer;
    position: absolute;

    bottom:240px; 
    left: 50%;
    transform: translateX(-50%);
    transition: 0.25s ease;
    img {
        padding: 18.5px 24px;

    }

    &:hover {
      color: bisque;
      background: #1a1a1a;
      border-color: rgba(255, 255, 255, 0.2);
      transform: translateX(-50%) translateY(-2px);
    }
  }
}
&__texts {
  h4 {
    font-family: Sora;
font-weight: 600;
font-style: SemiBold;
font-size: 24px;
line-height: 150%;
letter-spacing: 0%;
margin-top: 50px;
color: $secondary-color;
  }
span {
  color: $secondary-color;
  font-family: Sora;
font-weight: 400;
font-style: Regular;
font-size: 18px;
line-height: 150%;
letter-spacing: 0%;
margin-top: 40px;
}
b {
  font-family: Sora;
font-weight: 400;
font-style: Regular;
font-size: 18px;
line-height: 150%;
letter-spacing: 0%;
color: $secondary-color;
  margin-left: 270px;

}

}
button {
  width: 233px;
height: 64px;
opacity: 1;
gap: 4px;
border-radius: 74px;
border-width: 1px;
padding: 18px 24px;
color: $secondary-color;
border: 1px solid rgba(38, 38, 38, 1);
background-color: #0f0f0f;
display: flex;
margin: 50px auto;
align-items: center;
font-family: Sora;
font-weight: 400;
font-style: Regular;
font-size: 18px;
line-height: 150%;
letter-spacing: 0%;

}
 }
