.choose {
 width: 1596px;
height: 1190px;
opacity: 1;
margin: 0 auto;
&__about {
color: rgba(255, 255, 255, 1);
font-family: Sora;
font-weight: 600;
font-style: SemiBold;
font-size: 38px;
line-height: 150%;
letter-spacing: 0%;
text-align: center;
}
&__text {
    color: $primary-color;
    text-align: center;
}
&__bases {
    width: 100%;
    display: grid;
    margin-top: 80px;
grid-template-columns: repeat(3,1fr);
margin-left: 162px;
}
&__card {
 width: 465px;
height: 386px;
gap: 50px;
opacity: 1;

opacity: 1;
}
&__icon {
    margin-left: 154px;
    width: 66px;
    height: 66px;
opacity: 1;
border-radius: 75px;
border-width: 6px;
text-align: center;
padding-top: 15px;
border: 6px solid rgba(77, 77, 77, 1);
box-shadow: 16px 12px 9px 2px rgba(255, 255, 255, 0.1) inset;

}
&__drive {
    color: rgba(255, 255, 255, 1);
    text-align: center;
    font-family: Sora;
font-weight: 600;
font-style: SemiBold;
font-size: 20px;
line-height: 150%;
letter-spacing: 0%;
margin-top: 40px;
}
&__team {
    color: $primary-color;
    font-family: Sora;
font-weight: 400;
font-style: SemiBold;
font-size: 16px;
line-height: 150%;
letter-spacing: 0%;
text-align: center;
margin-top: 14px;
}
&__btn2 {
    margin-top: 40px;
opacity: 1;
border-radius: 100px;
border-width: 1px;
font-family: Sora;
padding-top: 17px;
border: 2px solid rgba(31, 31, 31, 1);
background-color:rgba(31, 31, 31, 1);
background-color: none;
display: inline-flex;
appearance: none;
font-weight: 400;
font-style: Regular;
font-size: 14px;
line-height: 150%;
margin-bottom: 10px;
padding-left: 97px;
letter-spacing: 0%;
box-shadow: none;
display: flex;
align-items: center;
border: 1px solid rgba(31, 31, 31, 1);
background: none;
}
&__btns img {
    background-color: rgba(26, 26, 26, 1);
    width: 52;
height: 36;
gap: 10px;
margin-left: 20px;
opacity: 1;
padding: 6px 14px;
border-radius: 135px;
}
}
.services {
    width: 1598px;
height: 1863px;
opacity: 1;
margin: 150px auto;
border: 1px solid blue;
&__part {
display: grid;
margin-top: 80px;
grid-template-columns: repeat(2,1fr);
gap: 30px;
}
&__title {
    text-align: center;
    h2 {
        color: rgba(255, 255, 255, 1);
        font-family: Sora;
font-weight: 600;
font-style: SemiBold;
font-size: 48px;
line-height: 150%;
letter-spacing: 0%;
text-align: center;

    }
    p {
        color: $primary-color;
        font-family: Sora;
font-weight: 400;
font-style: Regular;
margin-top: 20px;
font-size: 18px;
line-height: 150%;
letter-spacing: 0%;
text-align: center;
    }
}
&__dev {  
    width: 784;
height: 817;
opacity: 1;
gap: 50px;
border-radius: 20px;
border-width: 1px;
padding: 120px 80px 80px 80px;
text-align: center;
    background-image: url(../assets/images/Abstract\ Design.png);
h3 {
    color: rgba(255, 255, 255, 1);
    font-family: Sora;
font-weight: 600;
font-style: SemiBold;
font-size: 30px;
line-height: 150%;
letter-spacing: 0%;
text-align: center;

}
p {
    color: $primary-color;
    font-family: Sora;
font-weight: 400;
font-style: Regular;
font-size: 18px;
line-height: 150%;
letter-spacing: 0%;
text-align: center;

}
}
&__btnss {
    width: 184px;
height: 64px;
opacity: 1;
gap: 6px;
border-radius: 74px;
border-width: 1px;
color: #FFFFFF;
margin-left: 230px;
display: flex;
align-items: center;
padding: 18px 24px;
background-color: rgba(26, 26, 26, 1);
margin-top: 50px;
}border: 1px solid rgba(38, 38, 38, 1)
}